# Recommendation System for restaurants
Datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data#

Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

## Rating based

In [2]:
import pandas
import numpy

In [3]:
frame = pandas.read_csv('dataset/rating_final.csv')
cuisine = pandas.read_csv('dataset/chefmozcuisine.csv')
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [ ]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

### Top five most rated restaurants

In [24]:
rcnt = pandas.DataFrame(frame.groupby('placeID')['rating'].count())
top5= rcnt.sort_values('rating', ascending =False).head()
top5

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

### Cuisine of top rated restaurants

In [36]:
favfood = pandas.merge(rcnt, cuisine, on='placeID')
favfood.sort_values('rating', ascending = False).head()

     placeID  rating         Rcuisine
105   135085      36        Fast_Food
28    132825      32          Mexican
71    135032      28        Cafeteria
72    135032      28     Contemporary
86    135052      25  Bar_Pub_Brewery

## Correlation based