# Recommendation System for restaurants
Datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data#

Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

## Rating based

In [47]:
import pandas
import numpy

In [48]:
ratings = pandas.read_csv('dataset/rating_final.csv')
cuisine = pandas.read_csv('dataset/chefmozcuisine.csv')
ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [49]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

### Top five most rated restaurants

In [65]:
rcnt['total'] = pandas.DataFrame(ratings.groupby('placeID')['rating'].count())
top5= rcnt.sort_values('rating', ascending =False).head()
top5

         rating  total
placeID
135085       36     36
132825       32     32
135032       28     28
135052       25     25
132834       25     25

### Cuisine of top rated restaurants

In [51]:
favfood = pandas.merge(rcnt, cuisine, on='placeID')
favfood.sort_values('rating', ascending = False).head()

     placeID  rating         Rcuisine
105   135085      36        Fast_Food
28    132825      32          Mexican
71    135032      28        Cafeteria
72    135032      28     Contemporary
86    135052      25  Bar_Pub_Brewery

## Correlation based

In [52]:
geodata = pandas.read_csv('dataset/geoplaces2.csv')
restr = geodata[['placeID','name']]
restr.head()

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106      El Rinc�n de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

### Average Ratings

In [61]:
avg_ratings = pandas.DataFrame(ratings.groupby('placeID')['rating'].mean())
avg_ratings.sort_values('rating', ascending = False).head()

           rating
placeID
132955   2.000000
135034   2.000000
134986   2.000000
132922   1.833333
132755   1.800000

#### Comparing between Average and Total Rating

In [64]:
pandas.merge(avg_ratings, rcnt, on = 'placeID').sort_values('rating_y', ascending = False).head()

         rating_x  rating_y
placeID
135085   1.333333        36
132825   1.281250        32
135032   1.178571        28
135052   1.280000        25
132834   1.000000        25