# Recommendation System

In [18]:
import pandas
import numpy

In [21]:
frame = pandas.read_csv('dataset/rating_final.csv')
cuisine = pandas.read_csv('dataset/chefmozcuisine.csv')
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [22]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## based on counts

In [27]:
rcnt = pandas.DataFrame(frame.groupby('placeID')['rating'].count())
rcnt.sort_values('rating', ascending =False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25